@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('/public/font/Roboto-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-bold';
    src: url('/public/font/Roboto-Bold.ttf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}

.appointment_select{
    @apply border py-1 border-black/50 focus:border-ylw outline-none rounded-md bg-gray-50 !important;
}
