@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    src: url('/public/font/Roboto-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-bold';
    src: url('/public/font/Roboto-Bold.ttf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}

